.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px dashed #fff;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rorate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}