.customTable {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

    thead {
        background-color: rgba(255, 255, 255, 0.3);
    }

    th {
        resize: horizontal;
        overflow: auto;
        min-width: 50px;
    }

    .headerRow th:first-child {
        resize: none;
        overflow: hidden;
        min-width: 30px;
        width: 30px;
    }

    .tableCellInner {
        display: flex;
        flex-direction: column;
        font-size: clamp(0.7em, 2vw, 1.5em);
        justify-content: space-between;
        min-height: 5.3em;
        padding-inline: 5px;

        button {
            cursor: pointer;
            padding-inline: 0;
            font-size: 0.75em;
            min-height: 5.3em;
        }
    }

    tbody {
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    tr:not(.headerRow):hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    :is(td, th) {
        font-size: 0.875em;
        padding-block: 10px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
}