.App {
    background: linear-gradient(to right, #25c481, #25b7c4);
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    min-height: 100svh;
    margin: 0 auto;

    h1 {
        margin: clamp(5px, 1.3vw, 25px);
    }
}

.loaderWrapper {
    margin-top: 50px;
}